<footer>
    <nav>
        <ul class="nav-footer">
            <li><a href="https://www.facebook.com/thaimatvarsagod"><i class="fa fa-facebook-official fa-2x"
                        aria-hidden="true"></i>
                </a></li>
            <li><a href="https://www.instagram.com/thaimatvaersagod/"><i class="fa fa-instagram fa-2x"
                        aria-hidden="true"></i>
                </a></li>
            <li><a href="../pages/vilkår.html">Vilkår</a></li>
            <li><a href="../pages/personvern.html">Personvern</a></li>
        </ul>

        <p id="adresse">Thaimatværsågod, Lågaveien 14 3275. Svarstad, Vestfold<br>
            <small id="adresse">&copy; Copyright 2023 GR7 All Rights Reserved</small>
        </p>

    </nav>
</footer>