<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personvern</title>
    <link rel="stylesheet" type="text/css" href="../../src/css/personvern.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
        </script>
    <script>
        $(document).ready(function () {
            $("#header").load("pagesheader.html", function () {
                hamburgerMenu();
            });
            $("#footer").load("pagesfooter.html");
        });
    </script>
    <script type="text/javascript" defer src="../../src/js/hamburger-menu.js"></script>
</head>

<body>
    <div id="header"></div>

    <h1>Personvern</h1>

    <main>
        <p>
            Nettbutikken <strong>Thaimatværsågod</strong> på nettsiden <strong>www.thaimatvaersaagod.com</strong> med
            organisasjonsnummer <strong>920 749 259</strong> som ligger i <strong>Lågaveien 14, 3275, Svarstad</strong>
            behandler personlig informasjon som er utgitt av Kunden for å innfri og bekrefte brukervilkårene, for å
            behandle elektroniske ordre og frakt, og
            for å ha muligheten til å kommunisere i en tidsperiode som er godkjent av loven.
        </p>

        <h2>Generelle Bestemmelser</h2>
        <p>
            <strong>1.</strong> En personlig datakontrollør, i samsvar med GDPR (heretter betegnet som
            «Regulasjonen») er <strong>Thaimatværsågod Berg</strong>, organisasjonsnummer <strong>920 749 259</strong>,
            som ligger i <strong>Lågaveien 14, 3275, Svarstad</strong> (heretter betegnet som
            «Kontrollør»);
        </p>

        <p><strong>2.</strong> Kontaktinformasjonen til kontrolløren er: e-post:
            <strong>thaimatvaersaagod@gmail.com</strong>, &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp tlf:
            <strong>+47 40 55 65 10</strong>
        </p>

        <p>
            <strong>3.</strong> Personlig informasjon er all informasjon relatert til en
            identifiserbar eller fysisk person.
        </p>

        <h2>Kilden til personlig informasjon</h2>
        <p><strong>1.</strong> Kontrolløren behandler personlig informasjon som er mottatt mot
            Kundens godkjennelse og samlet inn fra kontrakten for å fullføre kjøpet og den elektroniske ordren som
            opprettes i nettbutikken
        </p>

        <p><strong>www.thaimatvaersaagod.com</strong>.;
        </p>

        <p><strong>2.</strong> Kontrolløren behandler kun identifiserbar informasjon og
            kontaktinformasjon til Kunden som er nødvendig for å oppfylle kontrakten for kjøpet;</p>

        <p><strong>3.</strong> Kontrolløren behandler personlig informasjon for frakt og for å
            holde regnskap og for å kunne ha kommunikasjon mellom partene i kontrakten i en tidsperiode som er godkjent
            av loven.
        </p>

        <h2>Grunnen til behandling av personlig informasjon</h2>
        <p>
            Kontrolløren behandler Kundens personlig informasjon for følgende grunner:
        </p>

        <p>
            <strong>1.</strong> Registrering på nettside <strong>www.thaimatversaagod.com</strong> I
            samsvar med Kapittel 4, Seksjon 2 av Regulasjonen;
        </p>

        <p>
            <strong>2.</strong> For å kunne oppfylle den elektroniske ordren som ble opprettet av
            Kunden (navn, postadresse, e-postadresse, telefonnummer);
        </p>

        <p>
            <strong>3.</strong> For å overholde lover og forskrifter som følger av
            kontraktsforholdet mellom kunden og kontrolløren;
        </p>

        <p>
            <strong>4.</strong> Personlig informasjon er nødvendig for å kunne oppfylle kontrakten
            til kjøpet. Kontrakten kan ikke konkluderes uten personlig informasjon.
        </p>

        <h2>Tidsperioden for lagring av personlig informasjon</h2>

        <p>
            <strong>1.</strong> Kontrolløren lagrer personlig informasjon i en tidsperiode som er nødvendig for å
            oppfylle rettigheter og forpliktelser som følger av kontraktsforholdet mellom Kontrolløren,
            og Kunden og i en 3-års tidsperiode som følger av avsluttelsen av kontraktsforholdet;
        </p>

        <p>
            <strong>2.</strong> Kontrolløren må slette all personlig informasjon ved utløpet av
            tidsperioden for lagring av personlig informasjon.
        </p>

        <h2>Mottakere og behandlere av personlig informasjon </h2>
        <p>
            Tredjeparter som behandler Kundens personlig informasjon er underleverandører til Kontrolløren. Tjenestene
            som er
            levert av disse underleverandørene er nødvendige for å kunne oppfylle konktrakten til kjøpet og for å
            behandle
            den elektroniske ordren mellom Kontrolløren og Kunden.
        </p>
        <p>
            Kontrollørens underleverandører er:
        </p>
        <p>
            &gt; Webnode AG (nettbutikksystem);
        </p>
        <p>
            &gt; Fraktfirma;
        </p>
        <p>
            &gt; Google Analytics (nettsidestatistikk);
        </p>

        <h2>Kundens rettigheter</h2>
        <p>
            I samsvar med forskriften er kunden berettiget til:
        </p>
        <p>
            <strong>1.</strong> Rettigheten til å få tilgang til sin personlige informasjon;
        </p>
        <p>
            <strong>2.</strong> Rettigheten til å redigere sin personlige informasjon;
        </p>
        <p>
            <strong>3.</strong> Rettigheten til å slette sin personlige informasjon;
        </p>
        <p>
            <strong>4.</strong> Rettigheten til å nekte behandling av sin personlig informasjon;
        </p>
        <p>
            <strong>5.</strong> Rettigheten til å flytte informasjonen sin;
        </p>
        <p>
            <strong>6.</strong> Rettigheten til å fradra samtykket til behandling av sin personlig informasjon skriftlig
            eller via e-post til:<strong>thaimatvaersaagod@gmail.com</strong>;
        </p>
        <p>
            <strong>7.</strong> Rettigheten til å sende inn en klage til tilsynsmyndigheten om det er mistanke om at det
            har vært brudd på Regulasjonen.
        </p>

        <h2>Sikkerheten til den personlige informasjonen</h2>

        <p><strong>1.</strong> Kontrolløren erklærer å ta alle tekniske og organisatoriske forholdsregler som er
            nødvendige for å beskytte den personlige informasjonen;</p>
        <p>
            <strong>2.</strong> Kontrolløren har tatt tekniske forhåndsregler for å sikre datalagringen, der særlig å
            sikre
            tilgang til
            datamaskinen med et passord, ved å bruke et anti-virus program og gjøre regelmessige sjekk på de relevante
            datamaskinenene.
        </p>

        <h2>Siste ord</h2>
        <p>
            <strong>1.</strong> Ved å legge inn en elektronisk ordre på nettsiden
            <strong>www.thaimatvaersaagod.com</strong> bekrefter Kunden å være informert om alle vilkårene av
            beskyttelsen av personlig informasjon og godkjenner dem i sin helhet;
        </p>
        <p>
            <strong>2.</strong> Kunden godkjenner disse reglene ved å huke av boksen i bestillingsskjemaet;
        </p>
        <p>
            <strong>3.</strong> Kontrolløren kan oppdatere disse Reglene når som helst. Den nye, oppdaterte versjonen må
            være publisert på hans/hennes nettside.
        </p>
        <p>
            Disse reglene tar effekt den <strong>13/10-2018</strong>
        </p>
    </main>

    <div id="footer"></div>
</body>

</html>